. {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(img/Картинка_подложка.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: table;
  width: 100%;
  margin-top: 10px;
	
}

.img_prof
{
  margin-top: 15px;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: 5px;
  background: #d9d9d9;
  height: 50px;
  border-radius: 10px;
  display: table-row;
}

a {
  background: #d9d9d9;
  color: #d9d9d9;
  padding: 0px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 40px;
  display: block;
  border-right: 1px solid #d9d9d9;
  border-radius: 10px;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
  
}

a:hover {
  background: #d9d9d9;
  border-radius: 20px 5px;
  background-color: #ced3d5;
  border-radius: 10px;
}

li {
  float: left;
  border-bottom: 1px;
}

.form {
  position: absolute;
  width: 947px;
  height: 500px;
  left: 167px;
  top: 80px;

  background: #d9d9d9;

  border-radius: 10px;
}

h2{
    margin-left: 10px;  
}

.mb-1{
    width: 500px; 
    margin-left: 10px;     
}

.mb-2{
    width: 500px; 
    margin-left: 10px;       
}

.mb-3{
    width: 600px;  
    margin-left: 10px;      
}

.mb-4{
    width: 300px; 
    margin-left: 10px;       
}

.btn
{
    margin-top: 100px;
}

.img_card {
width: 155px;
height: 159px;
left: 202px;
}
